<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label>1+2</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>3</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button>⌫</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>CE</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>C</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>÷</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button>7</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>8</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>9</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>x</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button>4</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>5</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>6</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>-</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button>1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>+</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button>±</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>0</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>,</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>=</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
