<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label>{{currentNumber}} {{currentOperation}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label id="number">{{currentNumber}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="removeNumber()">⌫</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="clearNumber()">CE</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>C</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="setOperation('÷')">÷</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="addNumber('7')">7</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="addNumber('8')">8</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="addNumber('9')">9</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="setOperation('x')">x</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="addNumber('4')">4</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="addNumber('5')">5</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="addNumber('6')">6</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="setOperation('-')">-</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="addNumber('1')">1</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="addNumber('2')">2</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="addNumber('3')">3</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="setOperation('+')">+</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="toggleSign()">±</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="addNumber('0')">0</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="addComma()">,</ion-button>
    </ion-col>
    <ion-col>
      <ion-button>=</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
